include ../config/config
<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon", href="assets/icons/favicon.ico", type="image/x-icon")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="css/styles.css")
    title Social Media Dashboard
  body
    header.header
      .header__texts
        h1.header__title Social Media Dashboard
        p#total-followers.header__subtitle Total Followers: 23.004
      #switch.switch
        p#switch-text.switch__text Dark Mode
        input(type="checkbox" id="switch-input" class="switch__checkbox")
        label(for="switch-input" id="switch-label" class="switch__label")
    
    article.first-row
      each social in socialNetworks
        div(class=`card card--${social.title}`)
          .card__title
            img(src=`assets/icons/${social.icon}`, alt=`${social.title}`).card__icon
            .card__user= social.user 
          .card__number= social.number 
          .card__text= social.text
          div(id=`card-today-${social.title}`).card__today.card__today--up
            img(src=`assets/icons/${social.todayIcon}`, alt="")
            span= `${social.today} Today`

    article.second-row
      h2.second-row__title Overview - Today
      each overview in overviews
        .card.card--small
          .card__title.card__title--small= overview.title
            img(src=`assets/icons/${overview.icon}`, alt=`${overview.network}`).card__icon.card__icon--small
          .card__number.card__number--small= overview.quantity
          .card__today.card__today--up.card__today--small
            img(src=`assets/icons/${overview.todayIcon}`, alt="")
            span= overview.number
    
    script(src="js/scripts-min.js")